/* HomePage.css */
.home__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ensure 4 cards per row */
    gap: 20px;
    width: calc(100% - 40px); /* Leave space on both sides */
    max-width: 1200px; /* Limit the container's width */
    margin: 0 auto; /* Center the container */
  }
  .blurred {
    filter: blur(5px);
    pointer-events: none; /* Prevent interactions with blurred content */
  }
  